
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyPayment</title>
</head>
<body>
    <div> 
        <label>Email : </label>
        <input  type="email" placeholder="enter email"/>
    </div>
</body>
</html>
